# Curated public namespace

S3method(format,bg_board)
S3method(ggplot2::autoplot,bg_method_compare)
S3method(ggplot2::autoplot,bg_problem)
S3method(ggplot2::autoplot,bg_reference)
S3method(ggplot2::autoplot,bg_ts_run)
S3method(plot,bg_board)
S3method(plot,bg_method_compare)
S3method(plot,bg_problem)
S3method(plot,bg_reference)
S3method(plot,bg_ts_run)
S3method(print,bg_board)
S3method(print,bg_game_result)
S3method(print,bg_method_compare)
S3method(print,bg_move_sequence)
S3method(print,bg_move_step)
S3method(print,bg_problem)
S3method(print,bg_reference)
S3method(print,bg_roll)
S3method(print,bg_ts_run)
S3method(print,bg_turn_result)
S3method(summary,bg_method_compare)
S3method(summary,bg_problem)
S3method(summary,bg_reference)
S3method(summary,bg_ts_run)
S3method(tibble::as_tibble,bg_method_compare)
S3method(tibble::as_tibble,bg_problem)
S3method(tibble::as_tibble,bg_reference)
S3method(tibble::as_tibble,bg_ts_run)
export(bg_apply_move_sequence)
export(bg_board)
export(bg_board_features)
export(bg_compare_algorithms)
export(bg_compare_posteriors)
export(bg_compare_reward_models)
export(bg_eval_allocation)
export(bg_eval_calibration)
export(bg_eval_efficiency)
export(bg_eval_rank)
export(bg_eval_reference_aware)
export(bg_eval_top1)
export(bg_initial_board)
export(bg_legal_moves)
export(bg_move_features)
export(bg_play_game)
export(bg_play_turn)
export(bg_print_board)
export(bg_problem)
export(bg_reference)
export(bg_roll)
export(bg_state_classify)
export(bg_state_difficulty)
export(bg_study_load)
export(bg_study_save)
export(bg_truth_battery)
export(bg_truth_diagnostics)
export(bg_truth_load)
export(bg_truth_opening)
export(bg_truth_save)
export(bg_truth_state)
export(bg_ts_run)
export(bg_ttts_run)
export(bg_ucb_run)
export(bg_uniform_run)
export(bg_validate_board)
export(plot_bg_allocation)
export(plot_bg_budget_curve)
export(plot_bg_posterior_compare)
export(plot_bg_rank_compare)
export(plot_bg_truth)
export(plot_bg_ts_trace)
importFrom(Rcpp,evalCpp)
useDynLib(backgammonr, .registration = TRUE)
